.product-item {
    box-shadow: 0 0 1em 0 gray;
    height: 23em;
    margin: .5em 2em;
    background: rgba(255, 255, 255, .5);
    border-radius: .5em;
    overflow: hidden;

    &:hover {
        background: rgba(255, 255, 255, 1);
        cursor: pointer;
        box-shadow:  0 0 1em 0 #f3ac99;
    }

    .p-img {
        width: 15em;
        height: 15em;

        >img {
            width: 15em;
            max-height: 15em;
        }
    }

    .p-item-info {
        padding: 0 1em;
        height: 8em;

        .p-new-price {
            display: flex;
            justify-content: space-around;
        }

        .price-item {
            text-decoration: line-through;
            text-decoration-color: red;
            text-decoration-style: double;
        }

        .pName {
            color: #f3ac99;
            font-size: 1.3em;
        }
        .price {
            display: inline-block;
            color: #33a1d0;
            margin-left: 1em;
            font-size: 1.1em;
        }
        .p-intro{
            color: #f3ac99;
            font-size: 1em;
        }
    }
}