.Main-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18em;
  right: 1em;
  box-shadow: 0 0 10px 0 gray;
  border-radius: 5px;
  overflow-y: auto;
  padding: 5px 10px;
  background-color: #8ed6ff;
  display: flex;
  flex-wrap: wrap; }
