<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cai-mail</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./login.css">
</head>

<body>
    <div class="login">
        <h2 class="login-title">南财二手商城后台登录</h2>
        <div id="loginForm" class="loginForm">
            <div class="form-item">
                <label for="username">用户名</label>
                <input type="text" id="username" />
            </div>
            <div class="form-item">
                <label for="password">密码</label>
                <input type="password" id="password" />
            </div>
            <button class="submit-btn">登录</button>
        </div>
    </div>
</body>

<script src="./login.js"></script>

</html>