.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 0 grey;
    padding: 1em 3em;
    box-sizing: border-box;
    background: #fff;
    border-radius: 1em;
    max-width: 30%;

    .login-title {
        border-bottom: 1px solid #52962b;
        color: #52962b;
        font-size: 1.8em;
        user-select: none;
    }

    .login-input {
        margin-top: 1em;
    }

    .submit-btn {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
    }
}